<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EquipCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IUserSvc" value="EquipCheck.Services.UserSvcBinaryImpl" />
    <add key="IEquipListSvc" value="EquipCheck.Services.EquipListSvcBinaryImpl" />
    <add key="ICheckListSvc" value="EquipCheck.Services.CheckListSvcBinaryImpl" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="30" />
    <authentication mode="Forms" />
    <membership defaultProvider="EquipCheckMembershipProvider">
      <providers>
        <add connectionStringName="AspNetDB" applicationName="EquipCheck" name="EquipCheckMembershipProvider" type="System.Web.Security.SqlMembershipProvider" passwordFormat="Clear" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="EquipCheckRoleProvider" cacheRolesInCookie="true" cookieName=".EquipCheckCookie" cookieTimeout="30" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="EquipCheckRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AspNetDB" applicationName="EquipCheck" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="AspNetDB" connectionString="Data Source=.;Initial Catalog=AspNetDB;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server" />
    <add name="EquipCheckEntities" connectionString="metadata=res://*/EquipCheck.csdl|res://*/EquipCheck.ssdl|res://*/EquipCheck.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=equipment_checklist;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <EquipCheck.Properties.Settings>
      <setting name="EquipCheck_EquipCheckLoginService_EquipCheckLoginService"
        serializeAs="String">
        <value>http://localhost:52735/EquipCheckLoginService.asmx</value>
      </setting>
    </EquipCheck.Properties.Settings>
  </applicationSettings>
</configuration>